!!!
%html
    %head
        %meta{:charset => "utf-8"}
        %title {math pun} - Comment Policy
        =stylesheet_link_tag "all"
    %body
        =partial "partials/nav"

        .blog-banner
            %img{ :src => "/images/comment.svg" }
            %h1.blog-title Comment Policy
            %p.byline 
                %em In the futile pursuit of a better world
            %hr

        .description

            %ol.default
                %li.comment-bullet
                    %strong License.
                    Unless otherwise noted, everything I write on here is licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC</a>. So is everything you write on here.
                    %hr
                %li.comment-bullet
                    %strong Moderator.
                    I'm easily recognizable in the comments by the HMFIC badge next to my avatar. You can also get my attention via Twitter by including "@Lustomatical" somewhere in your comment text.
                    %hr
                %li.comment-bullet
                    %strong Approval.
                    Users with verified email addresses have their comments posted automatically. To help keep the spammers at bay, comments from mysterious Internet entities require moderator approval. If you want your comments to post immediately and not have them languish in my inbox for potentially infuriating periods of time, take ten seconds to <a href="https://help.disqus.com/customer/portal/articles/960202-verifying-your-disqus-account">verify your email with Disqus</a>. <em>(N.B. As a further spam-killing measure, any comments that include links also require approval, regardless of the originating address.)</em>
                    %hr
                %li.comment-bullet
                    %strong Civility.
                    It's a bare-minimum requirement. Notice that I didn't say "friendliness," or even "politeness." Civility is an extremely low bar for adult human interaction; if you can't clear it, kindly comment elsewhere. I hear <a href="http://www.themarysue.com/youtube-commenter-study/">YouTube is cool</a>.
                    %hr
                %li.comment-bullet
                    %strong Tone.
                    We should strive for professional conversation, as if everyone on here is a colleague in this weird and sort of gross office building we call the Internet. Another pretty low bar. For instance, that definitely doesn't prohibit foul language. I'm a firm believer that a well-placed "fuck" can be rhetorically purposeful, but let's not go overboard.
                    %hr
                %li.comment-bullet
                    %strong Flagging.
                    If you see something you think is terrible &mdash; even for the Internet &mdash; go ahead and flag it, and it'll generate a notification for me. As a safeguard, in case I'm not available during a particularly vile incident, anything flagged by three people will automatically be hidden until I can review it. Spam counts as something terrible, and you may flag at will.
                    %hr
                %li.comment-bullet
                    %strong Editing.
                    I reserve the right to edit your comments. For several reasons, I don't want to do that &mdash; mostly because it's a huge pain in the ass &mdash; but I will if it allows me to salvage what I perceive to be important content that would otherwise have to be removed because it's preceded/followed/surrounded by ugliness.
                    %hr
                %li.comment-bullet
                    %strong Removal.
                    I can remove content for any reason, even if you think that reason is deeply unfair. Examples of reasons: you're blatantly off topic; your diction, syntax, and/or username lead me to believe you're a robot; you're making it difficult for other people to engage in good-faith exchanges (<em>cf.</em> <strong>Civility</strong> above). NOT examples of reasons: I disagree with you; you're objectively, demonstrably wrong.
                    %hr
                %li.comment-bullet
                    %strong Closure.
                    I write most things with the express purpose of encouraging conversation, which conversation I hope can take place, at least in large part, right here on this very site. But if a thread becomes too difficult/annoying for me to babysit, I may (with deep sadness) close further commenting.
                    %hr