!!!
%html
    %head
        %meta{:charset => "utf-8"}
        %title {math pun}
        =stylesheet_link_tag "all"
        =partial "partials/tracking"
    %body
        =partial "partials/nav"
        .hero#hero
            .hero-inner
                .hero-copy
                    %h1 {math pun}
        / #subhead
        /     %h1 ...because it's generally considered to be a requirement...
        /     %img{ :src => "/images/pi.svg" }

        .grid-items-lines
            %a.grid-item{ :href => "/output" }
                %img{ :src => "/images/prompt.svg" }
                %h1 Writings and Other Output
                %p Here is where I'll put all the things that I want to write and that you may or may not want to read.
            %a.grid-item{ :href => "/desmos" }
                %img{ :src => "/images/abacus.svg" }
                %h1 Desmos API Tutorials
                %p Want to learn about using the Desmos API for your own blog or classroom? Come on in.
            %a.grid-item{ :href => "/about" }
                %img{ :src => "/images/identity.svg" }
                %h1 About Me
                %p In case you're curious about who I am. Or in case your clicking aim is lousy.

        =partial "partials/footer"


        =javascript_include_tag "all"
        =javascript_include_tag "/custom_assets/life.min.js"
        =javascript_include_tag "/custom_assets/life_bg.js"