!!!
%html
    %head
        %meta{:charset => "utf-8"}
        %title {math pun}
        =stylesheet_link_tag "all"
    %body
        =partial "partials/nav"
        .hero#hero
            .hero-inner
                .hero-copy
                    %h1 {math pun}
        #subhead
            %h1 ...because it's generally considered to be a requirement...
            %img{ :src => "/custom_assets/pi.svg" }

        .grid-items-lines
            %a.grid-item
                %img{ :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" }
                %h1 Writings and Other Output
                %p Here is where I write all the things that I like to write and that you want to read. You should totally check it out.
            %a.grid-item
                %img{ :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" }
                %h1 Desmos Tutorials
                %p Want to learn about using the Desmos API for your own blog or classroom? Come on in.
            %a.grid-item{ :href => "/about" }
                %img{ :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" }
                %h1 About Me
                %p In case you're curious about who I am. You can check that out here.


        =javascript_include_tag "all"
        =javascript_include_tag "/custom_assets/life.min.js"
        =javascript_include_tag "/custom_assets/main_background.js"