%footer.footer
    .footer-links
        %ul
            %li
                %h3 Find Me
            %li
                %a{ :href => "http://twitter.com/lustomatical" } Twitter
            %li
                %a{ :href => "http://github.com/ctlusto" } GitHub
            %li
                %a{ :href => "http://blog.mathalicious.com/author/chris/" } Mathalicious Blog
        %ul
            %li
                %h3 Built Using
            %li
                %a{ :href => "http://middlemanapp.com/" } Middleman
            %li
                %a{ :href => "http://bourbon.io/" } Bourbon
            %li
                %a{ :href => "http://neat.bourbon.io/" } Neat
            %li
                %a{ :href => "http://bitters.bourbon.io/" } Bitters
        %ul
            %li
                %h3 Community Guidelines
            %li
                %a{ :href => "/comment-policy" } Comment Policy
            %li
                %a{ :href => "/" } Varsity Commenting
    %hr
    %p
        Unless otherwise noted, everything written here is licensed under 
        %a{ :href => "http://creativecommons.org/licenses/by-nc/4.0/" }
            CC BY-NC.
        The source code for any programming-type stuff is covered by a (generally even more permissive) software-specific license that can be found with its associated 
        %a{ :href => "http://github.com/ctlusto" }
            GitHub
        documentation.
