%header.navigation
    .navigation-wrapper
        %a.logo{ :href => "/" }
            %img{ :src => "/images/pi.svg" }
        %a.navigation-menu-button#js-mobile-menu{ :href => "" } MENU
        .nav
            %ul#navigation-menu
                %li.nav-link= link_to "Output", "/output/index.html"
                %li.nav-link= link_to "Desmos API Tutorials", "/desmos/index.html"
                %li.nav-link= link_to "About", "/about/index.html"