<header class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "{math pun}", "/index.html" %></li>
        <li class="nav-link"><%= link_to "Desmos Tutorials", "/desmos/index.html" %></li>
        <li class="nav-link"><%= link_to "About", "/about.html" %></li>
      </ul>
    </div>
  </div>
</header>
